@import url('https://fonts.googleapis.com/css?family=Outfit');

:root {
  --bg-color-lightmode: #E3E8E8;
  --text-color-lightmode: #111111;
  --main-font-family: 'Outfit', sans-serif;
}

body{
    background-image: url(../img/background_verde.png);
    font-family: var(--main-font-family);
}

header {
    display: flex;
    justify-content: space-between;

    .logo-img{
        width: 120px;
        height: 120px;
    }

    nav{
        display: flex;
        ul{
            list-style-type: none;
            padding: 0; /* Para retirar o valor default que <ul> tem */
            margin: 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        li, a{
            font-size: 25px;
            padding: 0px 10px;
            color: var(--text-color-lightmode);
            text-decoration: none;
        }
    }
    
}

main{
    background-color: var(--bg-color-lightmode);
}

footer{
    background-color: var(--bg-color-lightmode);
}

