.home {
    padding: 0 clamp(2rem, 8vw, 12rem) 0;
}

.content {
    background-color: var(--LIGHT-Background-Color);
    border-radius: 3rem 3rem 0 0;
    padding: 2rem clamp(2rem, 6vw, 10rem) 2rem;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    margin-bottom: 1rem;
    color: var(--LIGHT-Important-Text-Color);
}

.intro p {
    max-width: 1200px;
    margin: 0 auto 2.5rem;
    font-size: clamp(1rem, 1.3vw, 1.25rem);
    line-height: 1.5;
    color: var(--LIGHT-Text-Color);
}

.estudios_section {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
}

.estudios_card {
    background-color: var(--LIGHT-Card);
    min-width: 435px;
    border-radius: 2rem;
    padding: 2.5em 2em;
    gap: 1.5em;
    display: flex;
}

.estudios_card_logo{
    width: 138px;
    height: 138px;
    border-radius: 15%;
}

.estudios_card_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.estudios_card_info h2 {
    font-size: 1.75rem;
    color: var(--LIGHT-Important-Text-Color);
}

.social_media_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social_media_container ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social_media_container ul a {
    display: flex;
    transition: transform 0.2s ease;
}

.social_media_container ul a:hover {
    transform: scale(1.15);
}

@media (max-width: 1200px) {
    .intro {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }

}