.home {
    padding: 0 clamp(2rem, 8vw, 12rem) 0;
}

.content {
    background-color: var(--LIGHT-Background-Color);
    border-radius: 3rem 3rem 0 0;
    padding: 5rem clamp(2rem, 6vw, 10rem) 5rem;
}

.intro {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5rem;
}

.logo {
    width: 100%;
    max-width: 500px;
    height: auto;
    flex-shrink: 1;
}

.passion_section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-bottom: 2rem;
}

.passion_section img {
    width: 100%;
    max-width: 500px;
    height: auto;
    flex-shrink: 1;
    border-radius: 2rem;
    box-shadow: 0px 4px 5px 7px var(--SHADOW);
}

.text_container {
    max-width: 700px;
}

.text_container h1 {
    font-size: clamp(2.5rem, 4vw, 3.75rem);
    margin-bottom: 0.5rem;
    line-height: 1.2;
    color: var(--LIGHT-Important-Text-Color);
}

.text_container h2 {
    font-size: clamp(1.5rem, 2.5vw, 2.25rem);
    margin-bottom: 2rem;
    line-height: 1.3;
    color: var(--LIGHT-Text-Color);
}

.text_container p {
    font-size: clamp(1.1rem, 1.5vw, 1.5rem);
    margin-bottom: 2rem;
    line-height: 1.5;
    color: var(--LIGHT-Text-Color);
}

.text_container p:last-child {
    margin-bottom: 0;
}

.etapa_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.etapa_section h2 {
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    margin-bottom: 1rem;
    color: var(--LIGHT-Important-Text-Color);
}

.etapa_section p {
    max-width: 1200px;
    margin: 0 auto 2.5rem;
    font-size: clamp(1rem, 1.3vw, 1.25rem);
    line-height: 1.5;
    color: var(--LIGHT-Text-Color);
}

.etapa_galeria {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    flex-wrap: wrap;
}

.etapa_galeria img {
    max-width: 400px;
    border-radius: 2rem;
    box-shadow: 0px 4px 5px 7px var(--SHADOW);
}

.games_section {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 2rem;
}

.games_section h2 {
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    margin-bottom: 1rem;
    color: var(--LIGHT-Important-Text-Color);
}

@media (max-width: 1200px) {
    .intro {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 2rem;
    }

    .passion_section {
        flex-direction: column;
    }

    .logo {
        max-width: 350px;
    }
}