.header {
    width: 100%;
    padding: 2rem clamp(2rem, 8vw, 12rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    list-style: none;
}

.buttons_container li a {
    display: inline-block;
    color: var(--HEADER-Text-Color);
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px #000000;

    cursor: pointer;
    transition: transform 0.2s ease;
}

.buttons_container li a:hover {
    transform: scale(1.1);
}

@media (max-width: 1200px) {
    .header {
        padding: 1.5rem 2rem;
        flex-direction: column;
        gap: 2rem;
    }

    .buttons_container {
        gap: 2rem;
        flex-wrap: wrap;
    }

    .buttons_container li a {
        font-size: 1.8rem;
    }
}