.home {
    padding: 0 clamp(2rem, 8vw, 12rem) 0;
}

.content {
    background-color: var(--LIGHT-Background-Color);
    border-radius: 3rem 3rem 0 0;
    padding: 2rem clamp(2rem, 6vw, 10rem) 2rem;
}

.intro {
    text-align: center;
}

.intro h1 {
    font-size: clamp(1.75rem, 3vw, 2.5rem);
    margin-bottom: 1rem;
    color: var(--LIGHT-Important-Text-Color);
}

.intro p {
    max-width: 1200px;
    margin: 0 auto 2rem;
    font-size: clamp(1rem, 1.3vw, 1.25rem);
    line-height: 1.5;
    color: var(--LIGHT-Text-Color);
}

.explication {
    max-width: 1200px;
    margin: 0 auto 2rem;
    font-size: clamp(1rem, 1.3vw, 1.25rem);
    line-height: 1.5;
    color: var(--LIGHT-Text-Color);
    text-align: center;
}

.category_selection {
    max-width: 1200px;
    margin: 0 auto 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}

.category_selection button {
    background-color: none;
    border: 5px solid var(--gdp-verde);
    color: var(--gdp-verde);
    border-radius: 5rem;
    padding: 20px 40px;

    text-align: center;
    font-family: inherit;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 0.2s;
}

.category_selection button:hover {
    background-color: var(--gdp-verde);
    color: var(--HEADER-Text-Color);
}

.category_selection .activeCategory {
    background-color: var(--gdp-verde);
    color: var(--HEADER-Text-Color);
}