@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --LIGHT-Background-Color: #E3E8E8;
  --FOOTER-Background-Color: #222222;
  --LIGHT-Card: #D9D9D9;
  --LIGHT-Important-Text-Color: #111111;
  --LIGHT-Text-Color: #222222;
  --HEADER-Text-Color: #FFFFFF;
  --FOOTER-Text-Color: #E3E8E8;
  --gdp-azul: #2952BD;
  --gdp-vermelho: #C5313A;
  --gdp-verde: #007E7E;
  --gdp-amarelo: #FF9C31;
  --gdp-roteiro: #FBBC04;
  --gdp-gd: #34A853;
  --gdp-som: #523E8C;
  --gdp-vermelho-laje: #EB5C64;

  --SHADOW: rgba(0, 0, 0, 0.25);

  --font-primary: "Outfit", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}