@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  --LIGHT-Background-Color: #E3E8E8;
  --FOOTER-Background-Color: #222222;
  --LIGHT-Card: #D9D9D9;
  --LIGHT-Important-Text-Color: #111111;
  --LIGHT-Text-Color: #222222;
  --HEADER-Text-Color: #FFFFFF;
  --FOOTER-Text-Color: #E3E8E8;
  --gdp-azul: #2952BD;
  --gdp-vermelho: #C5313A;
  --gdp-verde: #007E7E;
  --gdp-amarelo: #FF9C31;
  --gdp-roteiro: #FBBC04;
  --gdp-gd: #34A853;
  --gdp-som: #523E8C;
  --gdp-vermelho-laje: #EB5C64;

  --SHADOW: rgba(0, 0, 0, 0.24);

  --font-primary: "Outfit", sans-serif;

  --CARD-border-radius: 2rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.svg_light {
  filter: invert(100%) sepia(7%) saturate(824%) hue-rotate(138deg) brightness(99%) contrast(84%);
}

.svg_dark {
  filter: invert(0%) sepia(2%) saturate(1308%) hue-rotate(317deg) brightness(96%) contrast(87%);
}

.text_prog{
  color: var(--gdp-azul) !important;
}

.text_art{
  color: var(--gdp-vermelho) !important;
}

.text_gd{
  color: var(--gdp-gd) !important;
}

.text_roteiro{
  color: var(--gdp-roteiro) !important;
}

.text_som{
  color: var(--gdp-som) !important;
}

.text_producao{
  color: var(--gdp-amarelo) !important;
}